body {
    margin: 0;
    padding: 0;
    
    
  }
  header {
    font-family: 'Roboto', sans-serif;
  }
  
  .Logo {
    align-items: center;
    width: 50%;
    padding-left: 20%;
    padding-top: 5%;
    
  }

  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #2D3C59;
    color: #fff;
    float: left;
    
    align-items: center;
    
  }
  .iconimg {
    width: 15%;
    margin-right: 16px;
    position: relative;
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  .sidebar li {
    padding: 10px;
    transition-property: padding;
    transition-property: margin;
    transition-duration: 0.05s;
    transition-delay: 0;;
    transition-timing-function: ease;
    
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    
  }

  li:hover {
    background-color: #222e46;
    color: rgb(255, 255, 255);
    padding: 4%;
    margin: 3%;
    border-radius: 10px 10px 10px 10px;
  }
  
 
  


  h1, p {
    color: #333;
  }
  
  .Listx {
    text-align: center;
    position: absolute;
    top: 5%;
    left: 46.8%;
    font-size: 260%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fefeff;
    font-weight: bold;
  }

  .cajilla {
      position: absolute;
      width: 1000px;
      left: 28%;
      top: 5%;
      height: 600px;
      background-color: #e4b55e;
      border-radius: 10px 10px 10px 10px;
      
  }
  .botonm {
      left: 65%;
      top: 78.5%;
      position: absolute;
      display: inline-block;
      padding: 30px 40px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      background-color: #222e46;
      color: #fff;
      border: none;
      border-radius: 30px;
      cursor: pointer;
  }

  .botonm:hover {
    left: 65%;
      top: 78.5%;
    position: absolute;
    display: inline-block;
    padding: 30px 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #a65638;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

  
  .Sa {
    position: absolute;
    left: 38%;
    top: 75%;
    font-size: 800%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    
  }
  .caca {
    position: absolute;
    left: 46.5%;
    top: 80%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    list-style-type: none;
    display: inline-block;
    

  }

  .contador {
    position: absolute;
    left: 47.9%;
    top: 15%;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  .jup {
      position: absolute;
      width: 800px;
      left: 33.5%;
      top: 70%;
      height: 250px;
      background-color: #e4b55e;
      border-radius:  10px 10px 10px 10px;
  }

  .koala {
    position: absolute;
    top: 20%;
    left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
    list-style-type: decimal;
  }.koala li {
    margin-top: 15%;
    font-size: 130%;
    color: #ffffff;
  }

  .koala2 {
    position: absolute;
    top: 20.1%;
    left: 40%;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
    list-style-type: none;
  }.koala2 li {
    margin-top: 24%;
    font-size: 130%;
    color: #ffffff;
  }
  .koala3 {
    position: absolute;
    top: 20.1%;
    left: 80%;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
    list-style-type: none;
  }.koala3 li {
    margin-top: 57%;
    font-size: 150%;
    color: #ffffff;
  }

  .Listxx {
    
    position: absolute;
    top: 71%;
    left: 49%;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fefeff;
    font-weight: bold;
  }